* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }
}

#pricing {
  background-color: #ffffff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pricing .pricing-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

#pricing .pricing-inner .pricing-box {
  grid-column: span 4;
  padding: 20px 0;
  background-color: #eee;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#pricing .pricing-inner .pricing-box .bold {
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  #pricing .pricing-inner .pricing-box {
    grid-column: span 12;
  }
}

#pricing .pricing-inner .pricing-box:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.178);
          box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.178);
}

#pricing .pricing-inner .pricing-box .pricing-head {
  padding: 20px;
  height: 150px;
}

#pricing .pricing-inner .pricing-box .pricing-head .package-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #330f1e;
}

#pricing .pricing-inner .pricing-box .pricing-head h2 {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #330f1e;
}

#pricing .pricing-inner .pricing-box .pricing-head h2 .dollorSign {
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: -10px;
}

#pricing .pricing-inner .pricing-box .pricing-head h2 .pricing-amount {
  font-size: 65px;
}

#pricing .pricing-inner .pricing-box .pricing-head h2 .super-script {
  font-size: 25px;
  position: absolute;
}

#pricing .pricing-inner .pricing-box .pricing-head h2 .deuration {
  font-size: 16px;
}

#pricing .pricing-inner .pricing-box .pricing-body {
  padding: 20px;
}

#pricing .pricing-inner .pricing-box .pricing-body ul li {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  white-space: nowrap;
  text-align: center;
  max-height: 50px;
  padding: 10px 0;
  font-weight: 300;
  font-size: 15px;
  color: black;
}

#pricing .pricing-inner .pricing-box .order .order-btn {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-color: #330f1e;
  border: 1px solid #330f1e;
  color: #ffffff;
  -webkit-transition: all .25s;
  transition: all .25s;
}

#pricing .pricing-inner .pricing-box .order .order-btn:hover {
  background-color: transparent;
  color: #330f1e;
}

#pricing .pricing-inner .premium {
  z-index: 15;
  background-color: #330f1e;
}

#pricing .pricing-inner .premium .pricing-head .package-name {
  color: #ffffff;
}

#pricing .pricing-inner .premium .pricing-head h2 {
  color: #ffffff;
}

#pricing .pricing-inner .premium .pricing-body {
  padding: 20px;
}

#pricing .pricing-inner .premium .pricing-body ul li {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  white-space: nowrap;
  text-align: center;
  max-height: 50px;
  padding: 10px 0;
  color: #ffffff;
}

#pricing .pricing-inner .premium .order .order-btn {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #330f1e;
  -webkit-transition: all .25s;
  transition: all .25s;
}

#pricing .pricing-inner .premium .order .order-btn:hover {
  background-color: transparent;
  color: white;
}
/*# sourceMappingURL=main.css.map */